/*BackgroundColor*/
body {
  background-color: #0a0a0a;
}
/*Button1*/
.button1 {
  margin: 5;
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 55px;
  width: 200px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0 9px rgba(255, 6, 0, 0.7), 0 0 20px rgba(255, 0, 0, 0.5);
}
.button1 {
  margin: 5;
  border-radius: 7px;
  background-color: #0a0a0a; 
  color: #ff0000; 
  border: 2px solid #ff0000;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0 9px rgba(255, 6, 0, 0.7), 0 0 20px rgba(255, 0, 0, 0.5);
}
.button1:hover {
  margin: 5;
  background-color: #660000;
  color: #0a0a0a;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0 9px rgba(255, 6, 0, 0.7), 0 0 20px rgba(255, 0, 0, 0.5);
}
/*Button2*/
.button2 {
  margin: 5;
  position: absolute;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 55px;
  width: 200px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0 9px rgba(255, 6, 0, 0.7), 0 0 20px rgba(255, 0, 0, 0.5);
}
.button2 {
  margin: 5;
  border-radius: 7px;
  background-color: #0a0a0a; 
  color: #ff0000; 
  border: 2px solid #ff0000;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0 9px rgba(255, 6, 0, 0.7), 0 0 20px rgba(255, 0, 0, 0.5);
}
.button2:hover {
  margin: 5;
  background-color: #660000;
  color: #0a0a0a;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0 9px rgba(255, 6, 0, 0.7), 0 0 20px rgba(255, 0, 0, 0.5);
}
/*Button3*/
.button3 {
  margin: 5;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  text-shadow: 0 0 9px rgba(255, 6, 0, 0.7), 0 0 20px rgba(255, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif;
}
.button3 {
  margin: 5;
  border-radius: 7px;
  background-color: #0a0a0a; 
  color: #ff0000; 
  border: 2px solid #ff0000;
  text-shadow: 0 0 9px rgba(255, 6, 0, 0.7), 0 0 20px rgba(255, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif;
}
.button3:hover {
  margin: 5;
  background-color: #660000;
  color: #0a0a0a;
  text-shadow: 0 0 9px rgba(255, 6, 0, 0.7), 0 0 20px rgba(255, 0, 0, 0.5);
}
/*Button4*/
.button4 {
  margin: 5;
  height: 55px;
  width: 200px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0 9px rgba(255, 6, 0, 0.7), 0 0 20px rgba(255, 0, 0, 0.5);
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.button4 {
  margin: 5;
  border-radius: 7px;
  background-color: #0a0a0a; 
  color: #ff0000; 
  border: 2px solid #ff0000;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0 9px rgba(255, 6, 0, 0.7), 0 0 20px rgba(255, 0, 0, 0.5);
}
.button4:hover {
  margin: 5;
  background-color: #660000;
  color: #0a0a0a;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0 9px rgba(255, 6, 0, 0.7), 0 0 20px rgba(255, 0, 0, 0.5);
}
/*Button5*/
.button5 {
  margin: 5;
  height: 55px;
  width: 200px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0 9px rgba(255, 6, 0, 0.7), 0 0 20px rgba(255, 0, 0, 0.5);
  margin: 0;
  position: absolute;
  top: 46%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-49%, -60%);
}
.button5 {
  margin: 5;
  border-radius: 7px;
  background-color: #0a0a0a; 
  color: #ff0000; 
  border: 2px solid #ff0000;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0 9px rgba(255, 6, 0, 0.7), 0 0 20px rgba(255, 0, 0, 0.5);
}
.button5:hover {
  margin: 5;
  background-color: #660000;
  color: #0a0a0a;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0 9px rgba(255, 6, 0, 0.7), 0 0 20px rgba(255, 0, 0, 0.5);
}
/*Text1*/
.text1 {
  height: 100px;
  font-size: 50px;
  color: red;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  top: auto;
  position:relative; 
  top:-35px; 
  left: center; 
  margin-left:0px; 
  margin-right:0px;
  text-shadow: 0 0 9px rgba(255, 6, 0, 0.7), 0 0 20px rgba(255, 0, 0, 0.5);
}
/*Text2*/
.text2 {
  margin: 1;
  position: absolute;
  top: 99%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  text-shadow: 0 0 9px rgba(255, 6, 0, 0.7), 0 0 20px rgba(255, 0, 0, 0.5);
}
/*Table*/
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
th, td {
  color: red;
  background-color: #0a0a0a;
  border: 1px solid red;
  padding: 8px;
  text-align: center;
}
th {
  color: red;
  background-color: #0a0a0a;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0 9px rgba(255, 6, 0, 0.7), 0 0 20px rgba(255, 0, 0, 0.5);
}